In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('fifa_players.csv')
df.head()

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87

# let's type all codes

In [3]:
df.columns

Index(['name', 'full_name', 'birth_date', 'age', 'height_cm', 'weight_kgs',
       'positions', 'nationality', 'overall_rating', 'potential', 'value_euro',
       'wage_euro', 'preferred_foot', 'international_reputation(1-5)',
       'weak_foot(1-5)', 'skill_moves(1-5)', 'body_type',
       'release_clause_euro', 'national_team', 'national_rating',
       'national_team_position', 'national_jersey_number', 'crossing',
       'finishing', 'heading_accuracy', 'short_passing', 'volleys',
       'dribbling', 'curve', 'freekick_accuracy', 'long_passing',
       'ball_control', 'acceleration', 'sprint_speed', 'agility', 'reactions',
       'balance', 'shot_power', 'jumping', 'stamina', 'strength', 'long_shots',
       'aggression', 'interceptions', 'positioning', 'vision', 'penalties',
       'composure', 'marking', 'standing_tackle', 'sliding_tackle'],
      dtype='object')

In [4]:
df = df.set_index("name")
df

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,975000.0,...,54,69,41,60,64,63,56,40,20,18
M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,190000.0,...,22,62,55,42,39,32,52,53,64,60
J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,170000.0,...,9,27,10,5,25,16,47,9,12,13
A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,280000.0,...,58,38,15,54,52,50,53,16,18,17
Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,325000.0,...,53,67,20,53,49,52,45,23,31,21

tepadagi kodda hamma boshidagi index larini olib quydi

# indexlarini joyiga quyib quyish

In [5]:
df=df.reset_index()

bunda esa hammasi joyiga qaytdi

# Indexes make subsetting simpler

In [6]:
df[df["name"].isin(["L. Messi","P. Pogba"])]

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67

# index buyicha chopish

In [7]:
df2 = df.set_index("full_name")
print(df2)

                                            name birth_date  age  height_cm  \
full_name
Lionel Andrés Messi Cuccittini          L. Messi  6/24/1987   31     170.18
Christian  Dannemann Eriksen          C. Eriksen  2/14/1992   27     154.94
Paul Pogba                              P. Pogba  3/15/1993   25     190.50
Lorenzo Insigne                       L. Insigne   6/4/1991   27     162.56
Kalidou Koulibaly                   K. Koulibaly  6/20/1991   27     187.96
...                                          ...        ...  ...        ...
Rory  McKenzie                       R. McKenzie  10/7/1993   25     175.26
Michal Sipľak                          M. Sipľak   2/2/1996   23     182.88
Jan Bekkema                           J. Bekkema   4/9/1996   22     185.42
Abdulrahman Al Yami                   A. Al Yami  6/19/1997   21     175.26
José Francisco dos Santos Júnior  Júnior Brumado  5/15/1999   19     190.50

                                  weight_kgs  positions   nationality  \
full_name
Lionel Andrés Messi Cuccittini          72.1   CF,RW,ST     Argentina
Christian  Dannemann Eriksen            76.2  CAM,RM,CM       Denmark
Paul Pogba                              83.9     CM,CAM        France
Lorenzo Insigne                         59.0      LW,ST         Italy
Kalidou Koulibaly                       88.9         CB       Senegal
...                                      ...        ...           ...
Rory  McKenzie                          74.8  RM,CAM,CM      Scotland
Michal Sipľak                           79.8         LB      Slovakia
Jan Bekkema                             89.8         GK   Netherlands
Abdulrahman Al Yami                     64.9      ST,LM  Saudi Arabia
José Francisco dos Santos Júnior        79.8         ST        Brazil

                                  overall_rating  potential   value_euro  ...  \
full_name                                                                 ...
Lionel Andrés Messi Cuccittini                94         94  110500000.0  ...
Christian  Dannemann Eriksen                  88         89   69500000.0  ...
Paul Pogba                                    88         91   73000000.0  ...
Lorenzo Insigne                               88         88   62000000.0  ...
Kalidou Koulibaly                             88         91   60000000.0  ...
...                                          ...        ...          ...  ...
Rory  McKenzie                                67         70     975000.0  ...
Michal Sipľak                                 59         67     190000.0  ...
Jan Bekkema                                   59         67     170000.0  ...
Abdulrahman Al Yami                           59         71     280000.0  ...
José Francisco dos Santos Júnior              59         75     325000.0  ...

                                  long_shots aggression  interceptions  \
full_name
Lionel Andrés Messi Cuccittini            94         48             22
Christian  Dannemann Eriksen              89         46             56
Paul Pogba                                82         78             64
Lorenzo Insigne                           84         34             26
Kalidou Koulibaly                         15         87             88
...                                      ...        ...            ...
Rory  McKenzie                            54         69             41
Michal Sipľak                             22         62             55
Jan Bekkema                                9         27             10
Abdulrahman Al Yami                       58         38             15
José Francisco dos Santos Júnior          53         67             20

                                  positioning  vision penalties  composure  \
full_name
Lionel Andrés Messi Cuccittini             94      94        75         96
Christian  Dannemann Eriksen               84      91        67         88
Paul Pogba                                 82      88        82         87
Lorenzo Insigne                            83      87        61         83
Kalidou Koulibaly                          24      49        33         80
...                                       ...     ...       ...        ...
Rory  McKenzie                             60      64        63         56
Michal Sipľak                              42      39        32         52
Jan Bekkema                                 5      25        16         47
Abdulrahman Al Yami                        54      52        50         53
José Francisco dos Santos Júnior           53      49        52         45

                                 marking  standing_tackle sliding_tackle
full_name
Lionel Andrés Messi Cuccittini        33               28             26
Christian  Dannemann Eriksen          59               57             22
Paul Pogba                            63               67             67
Lorenzo Insigne                       51               24             22
Kalidou Koulibaly                     91               88             87
...                                  ...              ...            ...
Rory  McKenzie                        40               20             18
Michal Sipľak                         53               64             60
Jan Bekkema                            9               12             13
Abdulrahman Al Yami                   16               18             17
José Francisco dos Santos Júnior      23               31             21

[17954 rows x 50 columns]

# Subsetting on duplicated index values -> bunda yani qiymat ichidagilarga murojat qilish

In [8]:
df=df.set_index('name')

# loc ni ishlatilishi

In [9]:
df.loc['L. Messi']

full_name                        Lionel Andrés Messi Cuccittini
birth_date                                            6/24/1987
age                                                          31
height_cm                                                170.18
weight_kgs                                                 72.1
positions                                              CF,RW,ST
nationality                                           Argentina
overall_rating                                               94
potential                                                    94
value_euro                                          110500000.0
wage_euro                                              565000.0
preferred_foot                                             Left
international_reputation(1-5)                                 5
weak_foot(1-5)                                                4
skill_moves(1-5)                                              4
body_type                                                 Messi
release_clause_euro                                 226500000.0
national_team                                         Argentina
national_rating                                            82.0
national_team_position                                       RF
national_jersey_number                                     10.0
crossing                                                     86
finishing                                                    95
heading_accuracy                                             70
short_passing                                                92
volleys                                                      86
dribbling                                                    97
curve                                                        93
freekick_accuracy                                            94
long_passing                                                 89
ball_control                                                 96
acceleration                                                 91
sprint_speed                                                 86
agility                                                      93
reactions                                                    95
balance                                                      95
shot_power                                                   85
jumping                                                      68
stamina                                                      72
strength                                                     66
long_shots                                                   94
aggression                                                   48
interceptions                                                22
positioning                                                  94
vision                                                       94
penalties                                                    75
composure                                                    96
marking                                                      33
standing_tackle                                              28
sliding_tackle                                               26
Name: L. Messi, dtype: object

In [10]:
df.head()

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22
K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,60000000.0,...,15,87,88,24,49,33,80,91,88,87

In [11]:
df2.iloc[2:5, 1:4]

                  birth_date  age  height_cm
full_name
Paul Pogba         3/15/1993   25     190.50
Lorenzo Insigne     6/4/1991   27     162.56
Kalidou Koulibaly  6/20/1991   27     187.96

In [12]:
df.loc["L. Messi":"L. Insigne"]

,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,value_euro,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
name,,,,,,,,,,,,,,,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,110500000.0,...,94,48,22,94,94,75,96,33,28,26
C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,69500000.0,...,89,46,56,84,91,67,88,59,57,22
P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,73000000.0,...,82,78,64,82,88,82,87,63,67,67
L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,62000000.0,...,84,34,26,83,87,61,83,51,24,22

# index va colum buyicha chopish

In [13]:
df.iloc[1:5, 2:4]

              age  height_cm
name
C. Eriksen     27     154.94
P. Pogba       25     190.50
L. Insigne     27     162.56
K. Koulibaly   27     187.96