In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
df = pd.read_csv("data_to_clean.csv")
df.head()

,Unnamed: 0,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,NaN,-0.588101,0.309404,TB,0,NaN,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,NaN,0.198142,OAK,0,NaN,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,NaN,0.000000,NYJ,0,NaN,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,NaN,0.402080,0.258227,CLE,0,NaN,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
4,384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,...,0,2,2,end,0,10,2017,0.003453,0.170787,0

In [2]:
df

,Unnamed: 0,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,NaN,-0.588101,0.309404,TB,0,NaN,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,NaN,0.198142,OAK,0,NaN,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,NaN,0.000000,NYJ,0,NaN,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,NaN,0.402080,0.258227,CLE,0,NaN,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
4,384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,...,0,2,2,end,0,10,2017,0.003453,0.170787,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40764,79438,0,NaN,3,NaN,NaN,0.381506,NO,0,NaN,...,0,1,3,guard,0,3,2010,0.000021,0.005075,0
40765,398233,0,NaN,9,NaN,NaN,0.244675,DEN,0,NaN,...,0,2,3,guard,0,3,2017,0.000134,0.287528,0
40766,396466,0,NaN,8,NaN,NaN,0.147057,ATL,0,NaN,...,0,2,1,guard,0,1,2017,0.001132,0.612357,0
40767,333861,0,0.025040,14,NaN,0.280049,0.373774,IND,0,NaN,...,0,3,3,NaN,1,7,2016,0.000042,0.002641,0
40768,247608,0,-2.441755,6,NaN,1.692283,0.210732,CIN,0,NaN,...,0,1,3,NaN,0,2,2014,0.006138,0.040037,0

In [3]:
print(df['yacEPA'].isnull().sum())

24902

In [4]:
# df.dropna(how='any')

In [5]:
df.dropna(subset=['RunGap'])

,Unnamed: 0,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
4,384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,...,0,2,2,end,0,10,2017,0.003453,0.170787,0
11,246343,0,NaN,25,NaN,NaN,0.118200,OAK,0,NaN,...,0,4,0,guard,0,2,2014,0.001457,0.649837,0
14,161472,0,NaN,21,NaN,NaN,0.256153,WAS,0,NaN,...,0,4,3,end,0,4,2012,0.000352,0.267000,0
17,48918,0,NaN,1,NaN,NaN,0.287326,STL,0,NaN,...,0,1,3,guard,0,14,2010,0.001256,0.001284,0
18,244580,0,NaN,9,NaN,NaN,0.229492,NYJ,0,NaN,...,0,1,3,tackle,0,5,2014,0.004590,0.017259,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40751,249210,0,NaN,21,NaN,NaN,0.320276,CLE,0,NaN,...,0,4,2,tackle,0,12,2014,0.000245,0.049958,0
40752,112932,0,NaN,5,NaN,NaN,0.372305,ATL,0,NaN,...,0,2,3,end,0,11,2011,0.000020,0.025408,0
40764,79438,0,NaN,3,NaN,NaN,0.381506,NO,0,NaN,...,0,1,3,guard,0,3,2010,0.000021,0.005075,0
40765,398233,0,NaN,9,NaN,NaN,0.244675,DEN,0,NaN,...,0,2,3,guard,0,3,2017,0.000134,0.287528,0
40766,396466,0,NaN,8,NaN,NaN,0.147057,ATL,0,NaN,...,0,2,1,guard,0,1,2017,0.001132,0.612357,0

bu yerda dropna ishlatilishi orqali qayerda NAN qatnaashgan bulsa olib tashlanadi

In [6]:
df['FieldGoalResult'].fillna(
value='None Given')

0        None Given
1        None Given
2        None Given
3        None Given
4        None Given
            ...
40764    None Given
40765    None Given
40766    None Given
40767    None Given
40768    None Given
Name: FieldGoalResult, Length: 40769, dtype: object

bunda biz bilishimiz mumkinki buni ishlatish orqali qayerda NaN qatnashgan bulsa ushalarni hammasini urniga None given quyib chiqadi

In [7]:
mean_drive = df['Drive'].mean()
df['NEW_Drive'] = df['Drive'].fillna(value=mean_drive)
df['NEW_Drive']=df['NEW_Drive'].mean()
df.head()

,Unnamed: 0,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,...,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay,NEW_Drive
0,244485,0,1.240299,18,NaN,-0.588101,0.309404,TB,0,NaN,...,3,3,NaN,1,1,2014,0.000527,0.024134,0,12.287817
1,115340,0,NaN,22,NaN,NaN,0.198142,OAK,0,NaN,...,4,3,NaN,0,7,2011,0.001883,0.246929,0,12.287817
2,68357,0,NaN,8,NaN,NaN,0.000000,NYJ,0,NaN,...,2,1,NaN,0,1,2010,0.000000,0.000000,0,12.287817
3,368377,0,1.075660,24,NaN,0.402080,0.258227,CLE,0,NaN,...,4,0,NaN,1,9,2017,0.000845,0.133814,0,12.287817
4,384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,...,2,2,end,0,10,2017,0.003453,0.170787,0,12.287817

bu yerda qushimcha ustun qushildi NEW_Drive degan va unga uzini maulmotlarini yukladi va uning urtacha qiymatini topildi

In [8]:
print(df['airEPA'].dtype)

float64

just checking the type of the **airEPA**

In [9]:
print(df['posteam'].dtype)

object

bu yerda object qismini topib olishimiz kere shunda biz u yerdagi hamma qatnashgan vergul va qushimcha qatnashgan larni uchirib chiqamiz

In [10]:
df['posteam'].str.replace('[$%â‚¬Â£]', '')

0         TB
1        OAK
2        NYJ
3        CLE
4        DEN
        ...
40764     NO
40765    DEN
40766    ATL
40767    IND
40768    CIN
Name: posteam, Length: 40769, dtype: object